<h2><%=@article.title%></h2>
<p><%=@article.content%></p>

<p> Will you delete <%=@article.title%>? </p>
<form action="/articles/<%=@article.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit">
</form>