<form action='/articles' method ='post'>
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="id" value=<%=@article.id%>>
    <input type="text" name="title" value=<%=@article.title%>>
    <input type="text" name="content" value=<%=@article.content%>>
    <input type="submit">
</form>