<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
        <form method="POST" action="/articles/<%= @article.id %>">
        <input id="hidden" type="hidden" name="_method" value="PATCH">
            <label for="title">Title:</label><br>
            <input type="text" name="title" value="<%=@article.title%>"><br>
            <label for="content">Title:</label><br>
            <input type="text" name="content" value="<%=@article.content%>">

            <input type="submit" id="submit" name="Submit">
        </form>



    </body>

</html>