<!DOCTYPE HTML>
<html>
    <head></head>
    <body>

        <% @articles.each do |article| %>
        <h1><%= article.title %> </h1>
        <p>
        <%= article.content %>
        </p>

        <% end %>



    </body>

</html>